.intro {
    width: 100%;
    max-width: 1920px;
}

body {
    font-family: sans-serif;
}

.header {
    background-color: #D43D3D;
}

#name {
    position: absolute;
    left: 300px;
    top: 20px;
    font-size: 48px;
}

#topButtons {
    position: absolute;
    left: 700px;
    top: 150px;
}

#mekletArstu {
    position: fixed;
    border-radius: 20px;
    border: 1px solid black;
    width: 140px;
    height: 35px;
    font-size: 20px;
    top: 135px;
    left: 750px;
}

#pieteiktViziti {
    position: fixed;
    border-radius: 20px;
    border: 1px solid black;
    width: 140px;
    height: 35px;
    font-size: 20px;
    top: 135px;
    left: 1120px;
}

#mekletViziti {
    position: fixed;
    border-radius: 20px;
    border: 1px solid black;
    width: 140px;
    height: 35px;
    font-size: 20px;
    top: 135px;
    left: 935px
}

#ieietPortala {
    position: fixed;
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: Sans-serif;
    font-size: 20px;
    left: 1765px;
    top: 175px;
}

#meklesana {
    position: absolute;
    left: 600px;
    top: 100px
}

#meklet {
    position: absolute;
    width: 500px;
    height: 25px;
    border: 1px solid black;
    outline: none;
    font-family: Sans-serif;
    font-size: 20px;
    left: 150px;
    top: -20px;
    background: url(https://cdn.discordapp.com/attachments/758385365912125571/846713481847504936/unknown.png) no-repeat 98% 1px;
    background-color:#ffffff;
}

#login {
    position: absolute;
    width: 300px;
    height: 25px;
    border: 1px solid black;
    outline: none;
    background: white;
    font-family: Sans-serif;
    font-size: 16px;
    top: -20px;
    left: 1000px;
    font-size: 20px;
}

#parole {
    position: absolute;
    width: 300px;
    height: 25px;
    border: 1px solid black;
    outline: none;
    background: white;
    font-family: Sans-serif;
    font-size: 16px;
    top: 30px;
    left: 1000px;
    font-size: 20px;
}

#vertical1 {
    position: fixed;
    transform: rotate(90deg);
    width: 750px;
    left: 550px;
    top: 597px;
}

#vertical2 {
    position: fixed;
    transform: rotate(90deg);
    width: 750px;
    left: 555px;
    top: 597px;
}

#horizontal {
    margin-top: -5px
}

#mekletKonteiners {
    position: fixed;
    left: 30px;
    top: 820px;
}

#mekletInput {
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 25px;
}

#fields {
    position: fixed;
    left: 30px;
}

#hospital {
    position: fixed;
    top: 300px;
    width: 500px;
    height: 34px;
    font-size: 20px
}

#doctor {
    position: fixed;
    top: 500px;
    width: 500px;
    height: 34px;
    font-size: 20px
}

#time {
    position: fixed;
    top: 700px;
    width: 500px;
    height: 34px;
    font-size: 20px
}

#pecSlimnicas {
    position: fixed;
    top: 235px;
    font-size: 30px;
}

#darbibasJoma {
    position: fixed;
    top: 435px;
    font-size: 30px;
}

#darbaLaiks {
    position: fixed;
    top: 635px;
    font-size: 30px;
}

#arsts {
    border: 1px solid black;
    height: 30px;
    width: 500px;
}

#arstaLaiks {
    border: 1px solid black;
    height: 30px;
    width: 500px;
}

#slimnica {
    border: 1px solid black;
    height: 30px;
    width: 500px;
}

#arstaJoma {
    border: 1px solid black;
    height: 30px;
    width: 500px;
}

#output {
    position: fixed;
    left: 1000px;
    font-size: 30px;
    
}

#arsts2{
    position: fixed;
    top: 230px;
}

#arsts3 {
    position: fixed;
    border: 1px solid black;
    height: 30px;
    width: 500px;
    top: 295px;
    background-color: #E4DCDC;
}

#darbaLaiks2 {
    position: fixed;
    top: 430px;
}

#darbaLaiks3 {
    position: fixed;
    border: 1px solid black;
    height: 30px;
    width: 500px;
    top: 495px;
    background-color: #E4DCDC;
}

#slimnica2 {
    position: fixed;
    top: 630px;
}

#slimnica3 {
    position: fixed;
    border: 1px solid black;
    height: 30px;
    width: 500px;
    top: 695px;
    background-color: #E4DCDC;
}

#darbaJoma {
    position: fixed;
    top: 830px;
}

#darbaJoma2 {
    position: fixed;
    border: 1px solid black;
    height: 30px;
    width: 500px;
    top: 895px;
    background-color: #E4DCDC;
}