body{
    font-family: sans-serif;
}

#logo {
    position: fixed;
    top: 10px;
}

#meklet {
    position: absolute;
    width: 500px;
    height: 25px;
    border: 1px solid black;
    outline: none;
    font-family: Sans-serif;
    font-size: 20px;
    left: 150px;
    top: 8%;
    background: url(https://cdn.discordapp.com/attachments/758385365912125571/846713481847504936/unknown.png) no-repeat 98% 1px;
    background-color:#ffffff;
}

#meklesana {
    position: fixed;
    left: 600px;
    top: 80px;
}

#topButtons {
    position: fixed;
    left: 600px;
    top: 80px;
}

#mekletArstu2 {
    position: fixed;
    border-radius: 20px;
    border: 1px solid black;
    width: 180px;
    height: 35px;
    font-size: 20px;
    top: 135px;
    left: 750px;
    
}

#pieteiktViziti2 {
    position: fixed;
    border-radius: 20px;
    border: 1px solid black;
    width: 140px;
    height: 35px;
    font-size: 20px;
    top: 135px;
    left: 1120px;
    
}

#mekletViziti2 {
    position: fixed;
    border-radius: 20px;
    border: 1px solid black;
    width: 180px;
    height: 35px;
    font-size: 20px;
    top: 135px;
    left: 935px
}

#ieietPortala {
    position: fixed;
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: Sans-serif;
    font-size: 20px;
    left: 1765px;
    top: 175px;
}

#virsraksts {
    position: fixed;
    left: 300px;
    top: 20px;
    font-family: Sans-serif;
    font-size: 24px;
}

#login {
    position: absolute;
    width: 300px;
    height: 29px;
    border: 1px solid black;
    outline: none;
    background: white;
    font-family: Sans-serif;
    font-size: 20px;
    top: 8%;
    left: 1000px;
}


h2 {
    position: absolute;
	top	: 0;
	left: 250px;
	width: 100%;
    color: #af0202;
    font-size: 20px;
    font-family: Sans-serif;
}

.intro {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
}

#top_background {
    right: 50px;
    background-color: #DE8706;
    width: 100%;
    height: 210px;
}

#vards_uzvards_teksts {
    position: fixed;
    left: 45px;
    top: 230px;
    font-size: 26px;
}

#darba_laiks_teksts {
    position: fixed;
    left: 45px;
    top: 420px;
    font-size: 26px;
}

#darbibas_joma_teksts {
    position: fixed;
    left: 45px;
    top: 610px;
    font-size: 26px;
}

#slimnica_teksts {
    position: fixed;
    left: 950px;
    top: 230px;
    font-size: 26px;
}

#hr2 {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 440px;
}

#hr3 {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 450px;
}

#pievienot_poga{
    position: fixed;
    width: 160px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: Sans-serif;
    font-size: 25px;
    left: 50px;
    top: 850px;
}

#vards_uzvards_ievade {
    position: absolute;
    width: 600px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    font-family: Sans-serif;
    font-size: 20px;
    left: -557px;
    top: 210px;
    background-color:#ffffff;
}

#darba_laiks_ievade {
    position: absolute;
    width: 600px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    font-family: Sans-serif;
    font-size: 20px;
    left: -557px;
    top: 400px;
    background-color:#ffffff;
}

#darbibas_joma_ievade {
    position: absolute;
    width: 600px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    font-family: Sans-serif;
    font-size: 20px;
    left: -557px;
    top: 590px;
    background-color:#ffffff;
}

#slimnica_ievade {
    position: absolute;
    width: 600px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    font-family: Sans-serif;
    font-size: 20px;
    left: 350px;
    top: 210px;
    background-color:#ffffff;
}

#login {
    position: absolute;
    width: 300px;
    height: 25px;
    border: 1px solid black;
    outline: none;
    background: white;
    font-family: Sans-serif;
    font-size: 16px;
    top: 8%;
    left: 1000px;
}

#parole {
    position: absolute;
    width: 300px;
    height: 25px;
    border: 1px solid black;
    outline: none;
    background: white;
    font-family: Sans-serif;
    font-size: 16px;
    top: 50px;
    left: 1000px;
}

#time {
    position: absolute;
    width: 600px;
    height: 34px;
    border: 1px solid black;
    outline: none;
    font-family: Sans-serif;
    font-size: 20px;
    left: 950px;
    top: 480px;
    background-color:#ffffff;
}

#time_teksts {
    position: fixed;
    left: 950px;
    top: 421px;
    font-size: 26px;
}

#vizit {
    position: absolute;
    width: 600px;
    height: 34px;
    border: 1px solid black;
    outline: none;
    font-family: Sans-serif;
    font-size: 20px;
    left: 950px;
    top: 670px;
    background-color:#ffffff;
}

#vizit_teksts {
    position: fixed;
    left: 950px;
    top: 615px;
    font-size: 26px;
    }

#pacienta_vards_uzvards_lauks {
    position: absolute;
    top: 870px;
    left: 950px;
    width: 600px;
    height: 30px;
    background: #E4DCDC;
    border: 1px solid black;
}

#pacienta_vards_uzvards_teksts {
    position: fixed;
    left: 950px;
    top: 810px;
    font-size: 26px;
}
    