<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/administratora_lapa.css">
    <title>Slimnīca</title>
</head>
<body>

    <div id='intro'>
        <img src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo" />
        <div id='virsraksts'>
            <h1>Projekts <br> "Medicīna"</h1>
            <div id ='topButtons'>
                <button id='mekletArstu2'>Pievienot slimnīcu</button>
                <button id='pieteiktViziti2'>Statistika</button>
                <button id='mekletViziti2'>Pievienot ārstu</button>
                <button id='ieietPortala'>Iziet no portālā</button>
                <button id='login'>Adminisrātora portāls</button>
                    
            </div>
            <form id='meklesana'>
                <input type="text" id="meklet" placeholder="Meklēt...">
            </form> 

        </div>


        <div id='hr'>
            <hr>
            <hr>
        </div>


        <div id='mainPhoto'>
            <img id='fotografija' src="https://media.discordapp.net/attachments/768387809870086194/846705812219101214/Screenshot-2021-02-02-100646_960.png" alt="Hospital" width="50%">
            <h2 class='vakcinacija'>BĒRNU UN JAUNIEŠU COVID-19 <br> VAKCINĀCIJA IR DROŠA UN <br> ATBALSTĀMA IZVĒLE</h2>
            <button id='lasitVairak'>Lasīt vairāk</button>
            <div id='bottom'>
                <button id='mekletArstu'>Pievienot slimnīcu</button>
                <button id='pieteiktViziti'>Pievienot ārstu</button>
                <button id='mekletViziti'>Statistika</button>
            </div>
        </div>


    </div>

</body>
</html>