<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/admin_tekst.css">
    <title>Slimnīca</title>
</head>
<body>

    <div id='intro'>
        <img src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo" />
        <div id='virsraksts'>
            <h1>Projekts <br> "Medicīna"</h1>
            <div id ='topButtons'>
                <button id='mekletArstu2'>Pievienot slimnīcu</button>
                <button id='pieteiktViziti2'>Statistika</button>
                <button id='mekletViziti2'>Pievienot ārstu</button>
                <button id='ieietPortala'>Iziet no portālā</button>
                <button id='login'>Adminisrātora portāls</button>
                    
            </div>
            <form id='meklesana'>
                <input type="text" id="meklet" placeholder="Meklēt...">
            </form> 

        </div>

        <div id='vertical'>
            <hr id='vertical1'>
            <hr id='vertical2'>
        </div>

        <div id='hr'>
            <hr>
            <hr>
        </div>

    </div>

    <p class="dline"><font face="Trebuchet MS" size="5" style="position:absolute;
        left:15px; top:270px">

Bērnu klīniskās universitātes slimnīcas Ģimenes vakcinācijas centrs norāda, ka bērnu </br>
un pusaudžu vakcinācija pret Covid-19 ar Eiropas zāļu aģentūras reģistrētām </br>
vakcīnām no 12 līdz 17 gadiem ir droša. Novērst saslimšanu un tādējādi būtiski </br>
samazināt iespējamu smagu Covid-19 slimības gaitu tā var palīdzēt, īpaši, bērniem ar </br>
atsevišķām hroniskām un onkoloģiskām saslimšanām, kuri tāpat kā pieaugušie ir</br>
 augstākā riska grupā. </br></br></br>

Bērni pandēmijas laikā ir lielā mērā saudzēti, galvenokārt tāpēc, ka koronavīruss </br> 
grūtāk saistās jeb pieķeras viņu šūnu receptoriem, salīdzinot ar pieaugušajiem. Bērnu </br>
elpceļu attīstības īpatnību dēļ viņiem ir mazāk AKE-2 receptoru, nekā pieaugušajiem. </br>
Tā ir vieta, kur koronavīruss saistās ar mūsu šūnām un eksperti plaši uzskata, ka tāpēc</br>
 bērni ir pasargāti no smagas Covid-19 saslimšanas. Tādēļ arī slimības transmisija un </br>
 saslimšana biežāk ir sastopama jau pusaudžu un vecāku bērnu vidū.
    </font>
</p>

<p class="dline"><font face="Trebuchet MS" size="5" style="position:absolute;
    left:1000px; top:270px">
Šobrīd Eiropas zāļu aģentūra ir apstiprinājusi Pfizer ražotāja vakcīnu bērniem vecuma grupā no 12 līdz 15 gadiem, kas bija pirmie iesnieguši to reģistrācijai, 
izmantošanai šajā vecuma grupā. Arī citi vakcīnu ražotāji šajās un līdzīgās vecuma grupās veic vai jau ir noslēguši klīniskos pētījumus un plāno iesniegt tos vakcīnas 
reģistrācijai. </br></br>

No EZA iesniegtajiem pētījumu rezultātiem redzams, ka Comirnaty vakcīna ir uzrādījusi augstu iedarbīgumu pret simptomātisku Covid-19, šajā vecuma grupā tas sasniedza 100%. 
Savukārt tādas sagaidāmās reakcijas kā sāpes injekcijas vietā, nogurums, galvas sāpes un citas pēc vakcinācijas sagaidāmas reakcijas izjuta 91% vakcinēto pusaudžu, 
taču tās pārgāja vienas līdz divu dienu laikā. Desmitajai daļai vakcinēto šajā vecuma grupā novērotās reakcijas bija izteiktas tādā intensitātē, kas ietekmēja viņu ikdienas 
aktivitātes. </br></br>

Lai vakcinētos šīs vecuma grupas pārstāvji, nebūs nepieciešama speciāla piekrišanas forma, tāpat kā tādas nav nepieciešamas citu ikdienā lietoto vakcīnu gadījumā. 
Kā arī, atbilstoši Pacientu tiesību likumam no 14 gadu vecuma bērns var lemt pats par vakcināciju.
    </font>
</p>

</body>
</html>