<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Slimnīca</title>
</head>
<body>
    <img src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo" />
    <div id='virsraksts'>
        <h1>Projekts <br> "Medicīna"</h1>
    </div>
    <form id='meklesana'>
        <input type="text" id="meklet" placeholder="Meklēt...">
        <input type="text" id="login" placeholder="Lietotātjvārds...">
        <input type="text" id="parole" placeholder="Parole...">
    </form>
    <div id='topButtons'>
        <button id='mekletArstu2'>Meklēt ārstu</button>
        <button id='pieteiktViziti2'>Pieteikt vizīti</button>
        <button id='mekletViziti2'>Meklēt vizīti</button>
        <button id='ieietPortala'>Ieiet portālā</button>
    </div>
    <hr>
    <hr>
    <div id='mainPhoto'>
    <img id='fotografija' src="https://media.discordapp.net/attachments/768387809870086194/846705812219101214/Screenshot-2021-02-02-100646_960.png" alt="Hospital" width="50%">
    <h2 class='vakcinacija'>BĒRNU UN JAUNIEŠU COVID-19 <br> VAKCINĀCIJA IR DROŠA UN <br> ATBALSTĀMA IZVĒLE</h2>
    <button id='lasitVairak'>Lasīt vairāk</button>
    </div>
    <div>
        <button id='mekletArstu'>Meklēt ārstu</button>
    </div>
    <div>
        <button id='pieteiktViziti'>Pieteikt vizīti</button>
    </div>
    <div>
        <button id='mekletViziti'>Meklēt vizīti</button>
    </div>
</body>
</html>