<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/meklet_viziti.css">
    <title>Slimnīca</title>
</head>
<body>

    <div id= top_background></div>

    <div id='intro'>
        <img id = logo src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo" />
        <div id='virsraksts'>
            <h1>Projekts <br> "Medicīna"</h1>
            <div id ='topButtons'>
                <button id='mekletArstu2'>Meklēt ārstu</button>
                <button id='pieteiktViziti2'>Pieteikt vizīti</button>
                <button id='mekletViziti2'>Meklēt vizīti</button>
                <button id='ieietPortala'>Ieiet portālā</button>

            </div>
            <form id='meklesana'>
                <input type="text" id="meklet" placeholder="Meklēt...">
                <input type="text" id="login" placeholder="Lietotātjvārds...">
                <input type="text" id="parole" placeholder="Parole...">
            </form> 
        </div>

    <form id='meklet_viziti'>
        <button id='meklet_viziti_poga'>Meklēt</button>
        <button id='atcelt_viziti_poga'>Atcelt vizīti</button>
        <button id='drukat_viziti_poga'>Drukāt vizīti</button>
        <input type="text" id="vizites_nr">
        <div id = vizites_nr_ievade>
            <p>Vizītes numurs:</p>
        </div>

        <div id='pacienta_vards_uzvards_lauks'></div>
        <div id='vizites_numurs_lauks'></div>
        <div id='slimnica_lauks'></div>
        <div id='vizites_laiks_lauks'></div>
        <div id='arsts_lauks'></div>
        <div id='arsta_darbibas_joma_lauks'></div>

        <div id='pacienta_vards_uzvards_teksts'>
            <p>Pacienta vārds, uzvārds</p>
        </div>
        <div id ='vizites_numurs_teksts'>
            <p>Vizītes numurs</p>
        </div>
        <div id ='slimnica_teksts'>
            <p>Slimnīca</p>
        </div>
        <div id ='vizites_laiks_teksts'>
            <p>Vizītes laiks</p>
        </div>
        <div id ='arsts_teksts'>
            <p>Ārsts</p>
        </div>
        <div id ='arsta_darbibas_joma_teksts'>
            <p>Ārsta darbības joma</p>
        </div>

    </form> 

        <div id='hr'>
            <hr>
        </div>
        <div id='hr'>
            <hr id = hr2>
            <hr id = hr3>
        </div>

    </div>

</body>
</html>