<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='static/css/meklet_arstu.css'>
    <title>Pievienot Slimnīcu</title>
</head>
<body>
    <div class='intro'>
        <div class='header'>
            <img src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo"/>
            <h1 id='name'>Projekts <br> "Medicīna"</h1>
            
            <div id='topButtons'>
                <button id='mekletArstu'>Meklēt ārstu</button>
                <button id='pieteiktViziti'>Pieteikt vizīti</button>
                <button id='mekletViziti'>Meklēt vizīti</button>
                <button id='ieietPortala'>Ieiet portālā</button>
            </div>

            <form id='meklesana'>
                <input type="text" id="meklet" placeholder="Meklēt...">
                <input type="text" id="login" placeholder="Lietotātjvārds...">
                <input type="text" id="parole" placeholder="Parole...">
            </form>
            
            <hr>
            
        </div>
        <div>
            <hr id='horizontal'>
        </div>
        <div id='vertical'>
            <hr id='vertical1'>
            <hr id='vertical2'>
        </div>

        <div id='fields'>
            <p id='pecSlimnicas'>Pēc Slimnīcas:</p>
            <p id='darbibasJoma'>Ārsta darbības joma:</p>
            <p id='darbaLaiks'>Darba laiks:</p>
            <select id='hospital'>
                <option></option>
                <option>Rīgas Slimnīca</option>
                <option>Strādiņa Slimnīca</option>
            </select>
            
            <select id='doctor'>
                <option></option>
                <option>Zobārsts</option>
            </select>
            
            <select id='time'>
                <option></option>
                <option>Pirmdiena</option>
                <option>Otrdiena</option>
                <option>Trešdiena</option>
                <option>Ceturtdiena</option>
                <option>Piektdiena</option>
                <option>Sestdiena</option>
                <option>Svētdiena</option>
            </select>
        </div>

        <div id=''>

        </div>

        <div id='mekletKonteiners'>
            <input id='mekletInput' type="submit" value="Meklēt">
        </div>
        <div id='output'>
            <p id='arsts2'>Ārsts:</p>
            <div id='arsts3'></div>
            <p id='darbaLaiks2'>Ārsta darba laiks:</p>
            <div id='darbaLaiks3'></div>
            <p id='slimnica2'>Slimnīca:</p>
            <div id='slimnica3'></div>
            <p id='darbaJoma'>Darba joma:</p>
            <div id='darbaJoma2'></div>
        </div>
        
        
    </div>
</body>
</html>