<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='static/css/pievienot_slimnicu.css'>
    <title>Pievienot Slimnīcu</title>
</head>
<body>
    <div class='intro'>
        <div class='header'>
            <img src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo"/>
            <h1 id='name'>Projekts <br> "Medicīna"</h1>
            
            <div id='topButtons'>
                <button id='pievienotSlimnicu'>Pievienot slimnīcu</button>
                <button id='pievienotArstu'>Pievienot ārstu</button>
                <button id='statistika'>Statistika</button>
                <button id='izietNoPortala'>Iziet no portāla</button>
                <button id='login'>Adminisrātora portāls</button>
            </div>

            <form id='meklesana'>
                <input type="text" id="meklet" placeholder="Meklēt...">
            </form>
            
            <hr>
            
        </div>
        <div>
            <hr id='horizontal'>
        </div>

        <div id='fields'>
            <p id='nosaukums'>Nosaukums:</p>
            <p id='adrese'>Adrese:</p>
            <input type="text" id="nosaukums2" placeholder="">
            <input type="text" id="adrese2" placeholder="">
            <button id='pievienot'>Pievienot</button>
             
        </div>
        
        <div id='linijas'>
            <hr id='first'>
            <hr id='second'> 
        </div>
        
            
        
        
    </div>