<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/statistika.css">
    <title>Slimnīca</title>
</head>
<body>

    <div id='top_background'></div>

    <div id='intro'>
        <img id='logo' src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo" />
        <div id='virsraksts'>
            <h1>Projekts <br> "Medicīna"</h1>
            <div id ='topButtons'>
                <button id='mekletArstu2'>Pievienot slimnīcu</button>
                <button id='pieteiktViziti2'>Statistika</button>
                <button id='mekletViziti2'>Pievienot ārstu</button>
                <button id='ieietPortala'>Iziet no portālā</button>
                <button id='login'>Adminisrātora portāls</button>
                    
            </div>
            <form id='meklesana'>
                <input type="text" id="meklet" placeholder="Meklēt...">
            </form> 

            <div id='eksportet_datus'>
                <p>Ekportēt datus:</p>
            </div>

            <button id='eksportet_csv_poga'>.csv</button>
            <button id='eksportet_json_poga'>.json</button>

        </div>


        <div id='hr'>
            <hr>
        </div>

        <div id='hr'>
            <hr id='hr2'>
            <hr id='hr3'>
        </div>

    </div>

</body>
</html>